html {
  font-size: 87.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #020617;
  color: #F8FAFC;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

#root, #app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

/* Hide the old counter if it still around */
.counter {
  display: none;
}
